{
    "token": "example",
	"prefix": "pewd!",
    "clientOptions": {
        "fetchAllMembers": false
    },
    "commandEditing": true,
    "commandLogging": true,
    "typing": false,
    "tasks": [
        {"taskName": "channelBotCounter", "cron": "*/15 * * * *"},
        {"taskName": "channelMemberCounter", "cron": "*/15 * * * *"}
    ],
    "disabledCorePieces": [],
    "gateways": [
        {
            "keys": [
                {
                    "name": "dmOffChannel",
                    "type": "textchannel",
                    "array": false,
                    "default": null
                },
                {
                    "name": "roleToGive",
                    "type": "role",
                    "array": false,
                    "default": null
                },
                {
                    "name": "roleToRemove",
                    "type": "role",
                    "array": false,
                    "default": null
                },
                {
                    "name": "channelForMembers",
                    "type": "voicechannel",
                    "array": false,
                    "default": null
                },
                {
                    "name": "channelForBots",
                    "type": "voicechannel",
                    "array": false,
                    "default": null
                }
            ],
            "name": "guilds"
        }
    ]
}
